@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #202024;
}

header{
    text-align: center;
    padding: 3rem;
    margin: .5rem;
    background-color: #005290;
}

header h1{
    padding-bottom: 1rem;
}

input{
    color: #fff;
    font-size: 1rem;
    width: 75%;
    padding: .5rem;
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: #202024;
}

button{
    padding: .62rem;
    width: 20%;
    color: #6d6d6d;
    cursor: pointer;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #202024;
    transition: all 0.2s ease-in-out;
}

#addButton:hover{
    color: #bdbdbd;
    background-color: #085302;
}

#upButton:hover{
    color: #bdbdbd;
    background-color: #021153;
}

section#tasks{
    margin: .5rem;
}

ul{
    list-style: none;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem .5rem 1rem .2rem;
    position: relative;
    transition: all 0.2s ease-in-out;
}

#tasks li > a:first-child{
    color: #fff;
    padding-left: 2.2rem;
}

#tasks li > a:first-child span{
    color: #ccc;
    font-style: italic;
    font-size: .7rem;
    padding-left: 1rem;
}

#tasks ul li div{
    display: flex;
    gap: 1rem;
}

#tasks a:first-child {
    font-size: 1.5rem;
    color: #037ddba8;
}

#tasks a:last-child {
    font-size: 1.5rem;
    color: #f74e4ea8;
}
  
#tasks ul li:nth-child(odd){
    background-color: #35353b98
}

#tasks ul li:hover{
    background-color: #7e7d7d41
}

section#modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    background-color: #00000080
}

#card{
    width:30rem;
    position: relative;
    background-color: #202024
}

#card h2{
    padding: 1rem;
    margin: 0
}

#card a:first-child{
    position: absolute;
    right: .6rem;
    top: .6rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

#card a:first-child:hover{
    color: #f74e4ea8;
}

#card hr{
    width: 80%;
    border-color: #ccc;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#card p{
    padding: 0 1rem;
    margin-bottom: 1rem;
}

#card #spanTask{
    color: #ccc;
}

#card a:nth-of-type(2){
    padding-left: 1rem;
    margin-right: 1rem;
}

#card a:is(:nth-of-type(2), :nth-of-type(3)){
    color: #fff;
}

#card a:nth-of-type(2):hover{
    color: #0c8004;
}

#card a:nth-of-type(3):hover{
    color: #f74e4ea8;
}

#card{
    padding-bottom: 1rem;
}

.message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    width: 76%;
    align-self: center;
    position: absolute;
    top: .5rem;
    z-index: 9999;
}

.message-danger{
    color: #8a0000;
    background-color: #ffc5c5;
}

.message-success{
    background-color: #0c8004;
}

#close-message{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.message-success #close-message:hover{
    color: #63b35d;
}

.message-danger #close-message:hover{
    color: #ff0000;
}

ul li.check-true{
    text-decoration: line-through;
}

ul li a.check-true::before{
    content: "";
    position: absolute;
    border: solid #a1a1a1;
    top: 23px;
    left: 11px;
    width: .8rem;
    aspect-ratio: 1;
    border-width: 2px;
}

ul li a.check-true::after{
    content: "";
    position: absolute;
    border: solid #fff;
    top: 16px;
    left: 17px;
    width: .5rem;
    aspect-ratio: 1/2.5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


ul li a.check-false::after{
    content: "";
    position: absolute;
    border: solid #fff;
    top: 23px;
    left: 11px;
    width: .8rem;
    aspect-ratio: 1;
    border-width: 2px;
}